*.class
*/target/*
.metadata
.classpath
/.metadata/
# Log file
*.log
*.log.*
*.factorypath
*/logs/*
*/jdk/*
jdk/*
.settings
*/.settings
.project
*/.project
*/.classpath
*.xml.versionsBackup
*/*.xml.versionsBackup
.vscode/settings.json
.vscode/launch.json
*/bin/*
*\bin\*
