*.class
*/target/*
.metadata
.classpath
/.metadata/
# Log file
*.log
*.log.*
*.factorypath
*/logs/*
*/jdk/*
jdk/*
.settings
*/.settings
.project
*/.project
*/.classpath
*.xml.versionsBackup
*/*.xml.versionsBackup
.vscode/settings.json
.vscode/launch.json
*/bin/*
*\bin\*
mybatis-jpa-extra-test/db/*
mybatis-jpa-extra-spring-boot-starter-test/db/**
target
target/mybatis-jpa-extra-parent-3.2.pom
mybatis-jpa-extra-spring-test/db/mybatis_jpa_extra_h2.lock
mybatis-jpa-extra-spring-test/db/mybatis_jpa_extra.mv.db
mybatis-jpa-extra-spring-test/db/mybatis_jpa_extra.trace.db
