<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="DEBUG">  
    <appenders>  
        <Console name="consolePrint" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n" />  
        </Console>
        
	 </appenders>  
	 
    <loggers>  
        <root level="debug">  
            <appender-ref ref="consolePrint" /> 
        </root>  
         <Logger name="org.springframework" level="INFO">
         	<appender-ref ref="consolePrint" /> 
         </Logger>
    	<Logger name="org.apache.mybatis" level="DEBUG">
    		<appender-ref ref="consolePrint" /> 
    	</Logger>
    
    </loggers>  
</configuration>